= simple_form_for @employee, html: { class: 'box-content', :multipart => true }, url: url do |f|
  - if f.error_notification
    .alert.alert-danger.fade.in
      = link_to '×', '#', class: 'close', 'data-dismiss' => 'alert'
      = f.error_notification
  .row
    .col-md-6
      .form-elements
        = f.input :first_name, input_html: { class: 'field-long' }
        = f.input :last_name, input_html: { class: 'field-long' }
        = f.input :gender, collection: [ 'Male', 'Female', 'Other' ], selected: 'Female', prompt: 'Please select gender', input_html: { class: 'field-long' }
        = f.input :birthdate, input_html: { class: 'field-long', 'data-behaviour' => 'datepicker' }
        = f.input :position_id, collection: Position.all, prompt: 'Please select position', input_html: { class: 'field-long' }
        = f.input :address, as: :text, input_html: { class: 'field-long' }
        = f.label 'Employment Status'
        = f.label :employment_status, :as => :boolean, class: 'checkbox checkbox-justify' do
          = f.check_box :employment_status
          Active
    .col-md-5{style: 'margin-left: 40px; '}
      .panel.panel-default
        .panel-heading
          %h3.panel-title
            Employee Photo
        .panel-body{ style: 'padding-left: 65px; '}
          = image_tag 'default_person_small.png', alt: 'photo'
        .panel-footer
          = f.file_field :avatar, as: :file, input_html: { class: 'field-long' }
  .form-elements
    = f.label 'Communication'
    = f.simple_fields_for :communications do |builder|
      = render 'shared/forms/communication', f: builder
    = link_to_add_fields 'Add Communication', f, :communications

  .form-actions
    = f.submit 'Save', class: 'btn btn-success', data: { disable_with: 'Saving...'}
    = link_to 'Cancel', employees_path, class: 'btn btn-default'
