.row
  .col-md-3
    .bs-sidebar.affix{role: 'complementary'}
      %ul.nav.nav-pills.nav-stacked
        %li{ class: "active" }
          = link_to "Employee Profile", employees_path
        %li
          = link_to "Employee Position", positions_path
  .col-md-9
    .panel.panel-default
      .panel-heading
        %h3.panel-title
          Employee Profile
      .panel-body
        .row
          .col-md-6
            %ul.nav.nav-pills.nav-stacked
              %li
                .page-header
                  %h4
                    Code
                    %small.pull-right= "BSE #{@employee.employee_code}"
              %li
                .page-header
                  %h4
                    Name
                    %small.pull-right= @employee.full_name
              %li
                .page-header
                  %h4
                    Gender
                    %small.pull-right= @employee.gender
              %li
                .page-header
                  %h4
                    Birthday
                    %small.pull-right= Date.parse(@employee.birthdate).strftime('%d-%B-%Y')
              %li
                .page-header
                  %h4
                    Position
                    %small.pull-right= @employee.position_title
              %li
                .page-header
                  %h4
                    Address
                    %small.pull-right= @employee.address
            = link_to 'Back', employees_path, class: 'btn btn-default'
          .col-md-4{ style: 'padding-left: 120px;'}
            = image_tag @employee.avatar.url(:small), alt: 'avatar', class: 'img-thumbnail'