.panel.panel-default
  .panel-heading
    %h4.panel-title
      Invoice

  .panel-body
    = simple_form_for @invoice, html: { class: 'box-content' }, url: invoices_path do |f|
      .form-elements
        #customer_list{ 'data-customers' => Client.all.map(&:to_select2).to_json }
          = f.input :client_id, label: 'Customer', input_html: { class: 'field-long', id: 'customer_select2' }
      .form-elements
        .row
          .col-xs-3
            = f.input :deposit, input_html: { class: 'field-medium', value: 0 }
          .col-xs-3
            = f.input :payment_method, collection: ['Cash', 'Credit Card'], selected: 'Cash', input_html: { class: 'field-medium' }
          .col-xs-3
            = f.input :total, input_html: { class: 'field-medium', value: 0, disabled: true }
          .col-xs-3{ style: 'padding-top: 25px;'}
            = link_to 'Cancel', invoices_path, class: 'btn btn-default'
            = f.submit 'Save', class: 'btn btn-success'
      .form-divider
    = render 'shared/forms/invoice_detail'
    #invoice-detail-list




