%html
  %head
    %meta{ "ttp-equiv" => "Content-Type", content: "text/html; charset=UTF-8" }
    = wicked_pdf_stylesheet_link_tag "bootstrap"
  %body
    .page-header
      %h3
        Invoice Receipt
    #sub-header
      .page-header
        .row
          .col-md-6{ style: "margin-left: 20px;" }
            %p Client Name
            %strong= @invoice.client.full_name
          .col-md-6{ style: "margin-right: 20px;" }
            .pull-right
              / = wicked_pdf_image_tag 'logo_40x40.png'
              %ul.nav.nav-pills.nav-stacked
                %li
                  Invoice No
                  %strong{ style: "maring-left: 10px;" }= @invoice.invoice_code
                %li
                  Invoice Date
                  %strong= @invoice.created_at.strftime("%d %B %Y")

  .invoice-summary
    .page-header
      %h4 Invoice Summary
    %table.table.table-bordered
      %thead{ style: 'background-color: #ddd'}
        %th No
        %th Description
        %th Price
        %th Discount
      %tbody
        - @invoice.invoice_details.each_with_index do |invoice, index|
          %tr
            %td= index + 1
            %td= invoice.service_name
            %td= number_to_currency(invoice.new_price)
            %td= number_to_currency(invoice.discount_value) || number_to_currency(0)
        %tr
          %td{ colspan: 3, align: 'right' }
            Subtotal
          %td
            %strong= number_to_currency(@invoice.invoice_details.sum(:new_price))
        %tr
          %td{ colspan: 3, align: 'right' }
            Discount
          %td
            %strong= number_to_currency(@invoice.discount)
        %tr
          %td{ colspan: 3, align: 'right' }
            Tax
          %td
            %strong= number_to_currency(0)
        %tr
          %td{ colspan: 3, align: 'right', style: "background-color: #ddd" }
            Total
          %td{ style: "background-color: #ddd" }
            %strong
              = number_to_currency(@invoice.invoice_details.sum(:new_price).to_f - @invoice.discount.to_f)
  .row{style: "margin-top: 150px;"}
    .col-md-6
    .col-md-6{ style: "margin-right: 20px;" }
      .pull-right
        %p
          %strong Bi Salon
        %p
          Date:
          %strong= Date.today.strftime("%d %B %Y")