.panel.panel-default
  .panel-heading
    %h3.panel-title
      Invoice Receipt
  .panel-body
    %table
      %tr
        %td{ width: "110px" }
          Client
        %td
          %strong= @invoice.client.full_name
      %tr
        %td
          Invoice Date
        %td
          %strong= @invoice.created_at.strftime('%d %B %Y')
      %tr
        %td
          Invoice No
        %td
          %strong= @invoice.invoice_code
      %tr
        - point = current_point(@invoice)
        - if point >= 0
          %td
            Current point
          %td
            %strong#point= point
          - if point >= 15
            %td
              = link_to 'Apply point', apply_point_invoices_path(@invoice), remote: true, class: 'apply-point btn btn-success btn-xs'
    %div{ style: 'margin-top: 20px;'}
      %h4 Invoice Summary
      %table.table.table-bordered
        %thead
          %th{style: 'width: 20px;'} No
          %th{style: 'width: 70%;'} Description
          %th Price
        %tbody
          - @invoice.invoice_details.each_with_index do |invoice_detail, index|
            %tr
              %td= index + 1
              %td= invoice_detail.service_name
              %td= number_to_currency(invoice_detail.new_price)
          %tr
            %td{ colspan: 2, align: 'right' }
              %strong Subtotal
            %td
              %strong#subtotal
                = number_to_currency(@invoice.invoice_details.sum(:new_price))
          %tr
            %td{ colspan: 2, align: 'right' }
              %strong Discount
            %td
              %strong#discount-price= number_to_currency(@invoice.discount) || number_to_currency(0)
          %tr
            %td{ colspan: 2, align: 'right' }
              %strong Tax
            %td
              %strong= number_to_currency(0)
          %tr
            %td{ colspan: 2, align: 'right' }
              %strong Total
            %td
              %strong#total
                = number_to_currency(@invoice.invoice_details.sum(:new_price))
    .pull-right
      = link_to 'Paid & Print', paid_invoices_path(@invoice, :format => 'pdf'), :target => "_blank", class: 'pull-right btn btn-success justify-left'
      = link_to 'Cancel', invoices_path, class: 'btn btn-default'
