= simple_form_for @service_item, html: { class: 'box-content' }, url: url do |f|

  - if f.error_notification
    .alert.alert-danger.fade.in
      = link_to '×', '#', class: 'close', 'data-dismiss' => 'alert'
      = f.error_notification

  .form-elements
    = f.input :item, input_html: { class: 'field-long' }
    = f.input :price, input_html: { class: 'field-long' }
    = f.association :category, prompt: 'Please select a category', input_html: { class: 'field-long' }

  .form-actions
    = f.submit 'Save', class: 'btn btn-success', data: { disable_with: 'Saving...' }
    = link_to 'Cancel', service_items_path, class: 'btn btn-default'