= simple_form_for Appointment.new, html: { class: 'box-content' }, url: url do |f|
  - if f.error_notification
    .alert.alert-danger.fade.in
      = link_to '×', '#', class: 'close', 'data-dismiss' => 'alert'
      = f.error_notification

  .form-elements
    = f.input :title, input_html: { class: 'field-long' }
    = f.input :description, as: :text, input_html: { class: 'field-long' }
    = f.input :start_time, label: 'Appointment Date Time', input_html: { class: 'field-long', id: 'appointment_datetime_picker', 'data-date-format' => 'YYYY-MM-DD HH:mm' }
    #customer_list{ 'data-customers' => Client.all.map(&:to_select2).to_json }
      = f.input :client_id, label: 'Customer', input_html: { class: 'field-long', id: 'customer_select2' }
    #employee_list{ 'data-employees' => Employee.all.map(&:to_select2).to_json }
      = f.input :employee_id, label: 'Employee', input_html: { class: 'field-long', id: 'employee_select2' }

  .form-actions
    = f.submit 'Save', class: 'btn btn-success'
    = link_to 'Cancel', appointments_path, { class: 'btn btn-default', data_dismiss: 'modal' }