.row
  .col-md-3
    .bs-sidebar.affix{ role: 'complementary' }
      %ul.nav.nav-pills.nav-stacked
        %li
          = link_to 'Appointment List', appointments_path
        %li
          = link_to 'Stylist', stylist_appointments_path
        %li{ class: 'active' }
          = link_to 'Customer', customer_appointments_path
  .col-md-9
    = render '/shared/date_filter'
    - if @customers.empty?
      = render 'no_appointment'
    - else
      - @customers.each do |customer|
        .panel.panel-default
          .panel-heading
            %h3.panel-title= customer.full_name
          .panel-body
            %table.table.table-hover
              %thead
                %th #
                %th Stylist
                %th Appointment Date
                %th Appointment Time
              %tbody
                - appointment_by_customer(customer).each_with_index do |appointment, index|
                  %tr
                    %td= index + 1
                    %td= appointment.employee.full_name
                    %td= appointment.appointment_date
                    %td= appointment.appointment_time
